.MyButton {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  outline: none;
  border: none;
  background: none;
}

.outline {
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  background: none;
}
