.app.dark {
  --bg-color: #141414;
  --inverted-bg-color: #bfbfc0;
  
  --primary-color: #C2E3E6;
  --secondary-color: #778277;
  --inverted-primary-color: #000000;
  --inverted-secondary-color: #818C99;
}