.app.light {
  --bg-color: #bfbfc0;
  --inverted-bg-color: #141414;
  --primary-color: #000;
  --secondary-color: #818c99;
  --inverted-primary-color: #c2e3e6;
  --inverted-secondary-color: #778277;
}
